/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-primary-dark-blue: #0F162D;
    --color-primary-pink: #CA59FF;
    --color-primary-light-blue: #6C7CFF;
    --color-primary-mint: #2AFFFF;
    --color-primary-yellow: #FFF629;
    --color-secondary-white: #FFFFFF;
    --color-secondary-dark-blue: #272D42;
    --color-secondary-black: #00000;
    --font-DM-Sans:'DM Sans', sans-serif;
}