.categories {
  @media screen and (min-width: 769px) and (max-width: 1024px){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
  }

  @media screen and (min-width: 1025px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 31px;
    //margin: 0 auto;
  }

  & .tile {
    //margin: 0 auto;
    background-color: var(--color-secondary-dark-blue);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin-top: 16px;
    transition: 1s linear;

    &:hover {
      cursor: pointer;
      transform: scale(1.06);
    }

    @media screen and (min-width: 769px) and (max-width: 1024px){
      flex-basis: 45%;
      max-width: 240px;
    }

    @media screen and (min-width: 1025px) {
      flex-basis: 40%;
      max-width: 268px;
    }

    & img {
      max-width: 56px;
      max-height: 56px;
      margin-bottom: 16px;
    }

    &__title {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      margin-top: 0;
      margin-bottom: 16px;
    }

    &__description {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      opacity: 0.5;
      margin: 0;
    }
  }
}