.home-page .container {
  margin: 48px auto;
  max-width: 343px;

  @media screen and (min-width: 769px) and (max-width: 1024px){
    max-width: 496px;
    margin: 247px auto;
  }

  @media screen and (min-width: 1025px) {
    display: flex;
    gap: 109px;
    margin: 159px auto;
    max-width: 1140px;
  }
}



